{% extends "base.html" %}
{% block content %}
	<div class="container mt-5">
        <div class="pb-2 mt-4 mb-2 border-bottom">
            <h1>About Sráideanna</h1>
        </div> 
        <div class="container about d-flex flex-column mt-5">
        	
			<p class="lead">Sráideanna is a collaborative effort to translate Belfast street names into Irish. As our database grows, we hope to become the go-to resource for users who wish to know the name of their street in Irish.</p>
        	<p>There are plenty of resources to learn about Irish placenames in the Republic of Ireland, namely the excellent <a href="https://www.logainm.ie" target="_blank" class="font-italic">logainm.ie</a>. However, its database covers only the 26 counties and its work on the six counties of the north is very limited. </p>
        	<img class="img-fluid align-self-center mt-3 mb-5" src="{{ image_file }}" alt="Bilingual street sign in Belfast">
        	<p>Here at Sráideanna, users can search for streets and see if translations have been added. For those who are Irish speakers, and who are capable of producing translations, we encourage you to sign up and begin making contributions.</p>
        	<p>You can contribute your own translations, but feel free also to cite the expertise of other translators and historians, making sure to cite your source.</p>
        	<p>Logainm is an excellent resource for those looking to verify their own translations - many street-names are shared amongst the different cities in Ireland, so you might find that the translation work has already been done for you.</p>
        	<p class="mb-5">Another excellent resource can be found at the <a href="https://www.ulsterplacename.org/street-names-project" target="_blank" class="font-italic">Ulster Placenames Society</a>, where some considerable work has already been done to translate the streets of Belfast city.</p>
  				
        </div>
    </div>
{% endblock content %}
